[mysqld]
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci

# Performance (server kecil)
innodb_buffer_pool_size = 64M
max_connections         = 50

[client]
default-character-set = utf8mb4
